<!DOCTYPE html>
<html>
   <body>
     
     
     <% if (flavor === "chocolate") { %>
     <h1>Ew, that's disgusting. Gross!</h1>
     <% else { %> 
     <h1>Wow, you like <%=flavor%> ice cream with <%=nuts%> too? That's my favorite!'</h1>
     <% } >%
  
  </body>

</html>